<script src="react.development.js"></script>
<script src="babel.js"></script>
<script src="react-dom.development.js"></script>
<div id="root"></div>

<script type="text/babel">
  class App extends React.Component {
    constructor() {
      super();
      this.state = {
        sum: 0
      };
      // this.onSum = this.onSum.bind(this);
    }
    // onSum() {
    //   //   let n1 = document.querySelectorAll("input")[0].value;
    //   //   let n2 = document.querySelectorAll("input")[1].value;
    //   //   let sume = alert(Number(n1) + Number(n2));
    //   console.log(this, "onSum");
    //   alert(124);
    // }
    onSum = () => {
      // alert(this.refs.h1Ref.innerText);
      let n = this.refs.n.value;
      let m = this.refs.m.value;
      let sum = Number(n) + Number(m);
      // alert(sum);
      this.setState({
        sum
      });
    };
    render() {
      console.log(this, "Render");
      let clr = "";
      if (this.state.sum < 100) {
        clr = "red";
      } else {
        clr = "green";
      }
      return (
        <div>
          <p>
            <b>N1:</b>
            <input ref="n" type="number" />
          </p>
          <p>
            <b>N2:</b>
            <input ref="m" type="number" />
          </p>
          <p>
            <input type="button" value="SUM" onClick={this.onSum} />
          </p>
          <h1 style={{color: clr, border: "1px solid green"}}>
            Sum:{this.state.sum}
          </h1>
          <h1 ref="h1Ref">HYderabad</h1>
        </div>
      );
    }
  }
  ReactDOM.render(<App />, document.getElementById("root"));
</script>
