<link href="styles.css" rel="stylesheet" />
<script src="react.development.js"></script>
<script src="babel.js"></script>
<script src="react-dom.development.js"></script>
<div id="root"></div>

<script type="text/babel">
  const App = () => {
    const [mySum, setMySum] = React.useState(100);
    const [cls, setCls] = React.useState("");
    const inputRef1 = React.createRef(null);
    const inputRef2 = React.useRef(null);

    const fn = () => {
      let n1 = inputRef1.current.value;
      let n2 = inputRef2.current.value;
      let sum = Number(n1) + Number(n2);
      setMySum(sum);
      if (sum > 100) {
        setCls("cr");
      } else {
        setCls("cg");
      }
    };
    return (
      <div>
        <p>
          <b>N1</b>
          <input ref={inputRef1} />
        </p>
        <p>
          <b>N2</b>
          <input ref={inputRef2} />
        </p>
        <p>
          <input value="sum" type="button" onClick={fn} />
        </p>
        <h1 className={mySum > 100 ? "cr" : "cg"}>Sum:{mySum}</h1>
        <h1 className={cls}>Sum:{mySum}</h1>
      </div>
    );
  };

  ReactDOM.render(<App />, document.querySelector("div"));
</script>
