<script src="react.development.js"></script>
<script src="babel.js"></script>
<script src="react-dom.development.js"></script>
<div id="root"></div>

<script type="text/babel">
  class App extends React.Component {
    constructor() {
      super();
      this.state = {
        sum: 0
      };
    }

    onSum = () => {
      let n = this.refs.n.value;
      let m = this.refs.m.value;
      let sum = Number(n) + Number(m);

      this.setState({
        sum
      });
    };
    render() {
      return (
        <div>
          <p>
            <b>N1:</b>
            <input ref="n" type="number" />
          </p>
          <p>
            <b>N2:</b>
            <input ref="m" type="number" />
          </p>
          <p>
            <input type="button" value="SUM" onClick={this.onSum} />
          </p>
          <h1 style={{color: this.state.sum > 100 ? "blue" : "red"}}>
            Sum:{this.state.sum}
          </h1>
          {this.state.sum > 100 && <h1 ref="h1Ref">HYderabad</h1>}
        </div>
      );
    }
  }
  ReactDOM.render(<App />, document.getElementById("root"));
</script>
