<button onclick="fn()">Click</button>
<button onclick="f1()">Ajax</button>

<script>
  function fn() {
    let obj = new XMLHttpRequest();
    obj.open("GET", "https://jsonplaceholder.typicode.com/posts");
    obj.send();

    obj.onload = () => {
      debugger;
      let res = obj.responseText;
      console.log(res, "success");
    };
    obj.onerror = () => {
      debugger;
      let res = obj.responseText;
      console.log(res, "failure");
    };
  }
  function f1() {
    fetch("https://jsonplaceholder.typicode.com/posts")
      .then((data) => data.json())
      .then((data) => console.log(data));
  }
</script>
