<script src="react.development.js"></script>
<script src="babel.js"></script>
<script src="react-dom.development.js"></script>
<style>
  #box {
    border: 1px solid red;
    width: 100px;
    display: inline-block;
    height: 100px;
  }
</style>

<div id="root"></div>

<script type="text/babel">
  function Box({n, name}) {
    return (
      <div id="box">
        {n}
        {name}
      </div>
    );
  }

  const App = () => {
    return (
      <div>
        <div>
          <Box n="1" name="sachin" />
          <Box n="2" />
          <Box n="3" />
        </div>
        <div>
          <Box />
          <Box />
          <Box />
        </div>
        <div>
          <Box />
          <Box />
          <Box />
        </div>
      </div>
    );
  };

  ReactDOM.render(<App />, document.getElementById("root"));
</script>
