<script src="react.development.js"></script>
<script src="babel.js"></script>
<script src="react-dom.development.js"></script>
<style>
  #Boxes {
    border: 1px solid red;
    width: 100px;
    display: inline-block;
    height: 100px;
  }
</style>

<div id="root"></div>

<script type="text/babel">
  class Boxes extends React.Component {
    render() {
      const loc = "mumbai";
      console.log(this, "***");
      return (
        <div id="Boxes">
          {this.props.n}
          {this.props.data}
        </div>
      );
    }
  }

  class App extends React.Component {
    render() {
      const name = "Dhoni";
      return (
        <div>
          <div>
            <Boxes n="1" data={name} />
            <Boxes n="2" />
            <Boxes n="3" />
          </div>
          <div>
            <Boxes />
            <Boxes />
            <Boxes />
          </div>
          <div>
            <Boxes />
            <Boxes />
            <Boxes />
          </div>
        </div>
      );
    }
  }

  ReactDOM.render(<App />, document.getElementById("root"));
</script>
