<script src="react.development.js"></script>
<script src="babel.js"></script>
<script src="react-dom.development.js"></script>
<div id="root"></div>

<script type="text/babel">
  const Login = () => {
    return <h1>Login Page...</h1>;
  };
  const Registration = () => {
    return <h1>Registration Page...</h1>;
  };
  class App extends React.Component {
    state = {
      content: "LOGIN",
      isLogin: false
    };
    handleClick = () => {
      this.setState({
        content: "REGISTRATION",
        isLogin: true
      });
    };
    render() {
      return (
        <div>
          <button onClick={this.handleClick}>{this.state.content}</button>
          {this.state.isLogin ? <Registration /> : <Login />}
        </div>
      );
    }
  }
  ReactDOM.render(<App />, document.getElementById("root"));
</script>
