<script src="react.development.js"></script>
<script src="babel.js"></script>
<script src="react-dom.development.js"></script>
<div id="root"></div>

<script type="text/babel">
  class App extends React.Component {
    constructor() {
      super();
      this.myRef = React.createRef(null);
    }
    onSubmit = () => {
      this.myRef.current.value = "Sachin";
    };
    render() {
      return (
        <div>
          <Child reference={this.myRef} />
          <button onClick={this.onSubmit}>Click me to pass Ref</button>
        </div>
      );
    }
  }
  class Child extends React.Component {
    render() {
      return (
        <div>
          <input ref={this.props.reference} />
        </div>
      );
    }
  }

  ReactDOM.render(<App />, document.getElementById("root"));
</script>
