<script src="react.development.js"></script>
<script src="babel.js"></script>
<script src="react-dom.development.js"></script>
<div id="root"></div>

<script type="text/babel">
  class App extends React.Component {
    constructor() {
      super();
      this.data = {};
    }
    fnChange = (eve) => {
      debugger;
      let val = eve.target.value;
      let id = eve.target.id;
      this.data = {...this.data, [id]: val};
    };
    onSubmit = () => {
      console.log(this.data);
    };
    render() {
      return (
        <div>
          <p>
            <b>N1</b> <input id="n1" onChange={this.fnChange} />
          </p>

          <p>
            <b>N2</b>
            <input id="n2" onChange={this.fnChange} />
          </p>
          <p>
            <b>N3</b> <input id="n3" onChange={this.fnChange} />
          </p>

          <p>
            <b>N4</b>
            <input id="n4" onChange={this.fnChange} />
          </p>
          <p>
            <b>N5</b> <input id="n5" onChange={this.fnChange} />
          </p>

          <p>
            <b>N6</b>
            <input id="n6" onChange={this.fnChange} />
          </p>
          <p>
            <button onClick={this.onSubmit}>Click</button>
          </p>
        </div>
      );
    }
  }

  ReactDOM.render(<App />, document.getElementById("root"));
</script>
