<script src="react.development.js"></script>
<script src="babel.js"></script>
<script src="react-dom.development.js"></script>

<div id="root"></div>

<script type="text/babel">
  function App() {
    return <div> Hellow world</div>;
  }
  ReactDOM.render(<App />, document.getElementById("root"));
</script>
