<span>Sachin</span>
<span>Dhoni</span>
<span>Kohli</span>

<div>Sachin</div>
<div>Dhoni</div>
<div>Kohli</div>

<!-- inline elements -->

<!-- span,i,b,img,select,input ect -->

<!-- block level element -->
<!-- div,p,h1-h6,li,ul,ol -->

<div>
  Lorem Ipsum is simply dummy text of the printing and typesetting industry.
</div>

<p>
  Lorem Ipsum is simply dummy text of the printing and typesetting industry.
</p>

<h1>
  Lorem Ipsum is simply dummy text of the printing and typesetting industry
</h1>
<h2>Hyderabad</h2>
<ul>
  <li>RED</li>
  <li>BLUE</li>
</ul>
<ol>
  <li>India</li>
  <li>Pakistan</li>
</ol>

<table border="1px solid black">
  <thead>
    <tr>
      <th>Name</th>
      <th>Runs</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Sachin</td>
      <td>10k</td>
    </tr>
    <tr>
      <td>Dhoni</td>
      <td>10k</td>
    </tr>
  </tbody>
</table>
