<script src="react.development.js"></script>
<script src="babel.js"></script>
<script src="react-dom.development.js"></script>

<div id="root"></div>

<script type="text/babel">
  function Hellow() {
    return <h1> Hellow ...</h1>;
  }
  const App = () => {
    return (
      <div>
        <Hellow />
        <Hellow />
        <Hellow />
        <Hellow />
        <Hellow />
      </div>
    );
  };
  ReactDOM.render(<App />, document.getElementById("root"));
</script>
