<script src="react.development.js"></script>
<script src="babel.js"></script>
<script src="react-dom.development.js"></script>

<div id="root"></div>

<script type="text/babel">
  class App extends React.Component {
    constructor() {
      super();
      this.state = {
        count: 0,
        isChild: true
      };
    }
    handleClick = () => {
      this.setState({
        count: this.state.count + 1
      });
    };
    handleClickMount = () => {
      this.setState({
        isChild: !this.state.isChild
      });
    };

    render() {
      return (
        <div>
          App Comp
          <button onClick={this.handleClick}>Inc Count</button>
          {this.state.isChild && <Child myCount={this.state.count} />}
          <button onClick={this.handleClickMount}>
            Click me to unmount and Mount child component
          </button>
        </div>
      );
    }
  }

  class Child extends React.Component {
    constructor() {
      super();
      this.state = {
        name: "Sachin",
        count: 5
      };
      this.myId = setInterval(() => {
        alert("I'm SetTimeout");
      }, 5000);
    }

    componentWillUnmount() {
      alert("Sorry I'm unmounting");
      clearInterval(this.myId);
    }

    static getDerivedStateFromProps(NextProps, NextState) {
      return {
        count: 8
      };
    }

    shouldComponentUpdate(nextProps, nextState) {
      debugger;
      return true;
    }
    handleNameChange = () => {
      this.setState({
        name: "DHONI"
      });
    };
    render(a, b, c) {
      return (
        <React.Fragment>
          Child called
          <h1>{this.props.myCount}</h1>
          <button onClick={this.handleNameChange}>Name Chnage</button>
          <h1>{this.state.name}</h1>
          <h1>{this.state.count}</h1>
        </React.Fragment>
      );
    }
    getSnapshotBeforeUpdate(prevProps, prevState) {
      if (prevProps.myCount === 2) {
        this.setState({
          name: "SSSSS"
        });
      }
    }
    componentDidUpdate(prevProps, prevState) {
      debugger;
    }
    componentDidMount(a, b, c) {
      debugger;
      alert("called");
    }
  }

  ReactDOM.render(<App />, document.getElementById("root"));
</script>
