<script src="react.development.js"></script>
<script src="babel.js"></script>
<script src="react-dom.development.js"></script>
<div id="root"></div>

<script type="text/babel">
  class App extends React.Component {
    constructor() {
      super();
      this.myRef1 = React.createRef(null);
      this.myRef2 = React.createRef(null);
    }
    onSubmit = () => {
      let n1 = this.myRef1.current.value;
      let n2 = this.myRef2.current.value;
      console.log({n1, n2});
    };
    render() {
      return (
        <div>
          <p>
            <b>N1</b> <input ref={this.myRef1} />
          </p>

          <p>
            <b>N2</b>
            <input ref={this.myRef2} />
          </p>
          <p>
            <button onClick={this.onSubmit}>Click</button>
          </p>
        </div>
      );
    }
  }

  ReactDOM.render(<App />, document.getElementById("root"));
</script>
