<h1>Registration Page</h1>

<p><b>Name:</b><input type="text" /></p>
<p><b>Password:</b><input type="password" /></p>
<p><b>Phone No:</b><input type="number" /></p>
<p><b>Email:</b><input type="email" /></p>
<p>
  Gender
  <input type="radio" name="g" />M <input type="radio" name="g" />F
</p>

<p>
  Hobbies
  <input type="checkbox" />Hockey <input type="checkbox" />Cricket
  <input type="checkbox" />Vollyball
</p>

<p>
  <select>
    <option value="">India</option>
    <option value="">China</option>
    <option value="">Pakistan</option>
  </select>
</p>
<p>Address:<textarea cols="30"></textarea></p>
<p>
  <input type="file" />
</p>

<p>
  <input type="button" value="Submit" />
  <button>Registration</button>
</p>
