<script src="react.development.js"></script>
<script src="babel.js"></script>
<script src="react-dom.development.js"></script>
<div id="root"></div>

<script type="text/babel">
  class App extends React.Component {
    render() {
      return (
        <div>
          <Players name="Sachin" l="MUmbai" runs="10k" />
          <Players name="Dhoni" l="Ranchi" runs="20k" />
        </div>
      );
    }
  }
  class Players extends React.Component {
    render() {
      console.log(this, "PLayers object");
      return (
        <div>
          I'm {this.props.name},I'm from {this.props.l}...Runs:{this.props.runs}
        </div>
      );
    }
  }

  ReactDOM.render(<App />, document.querySelector("#root"));
</script>
