<script src="react.development.js"></script>
<script src="babel.js"></script>
<script src="react-dom.development.js"></script>

<div id="root"></div>

<script type="text/babel">
  function App() {
    return (
      <div>
        <Players name="Sachin" loc="Mumbai" runs="10k" />
        <Players name="Dhoni" loc="Ranchi" runs="20k" />
        <Players name="Khohli" loc="Delhi" runs="30K" />
      </div>
    );
  }
  function Players({name, loc, runs}) {
    return (
      <div>
        <h1>
          Player: {name} , Location: {loc},Runs:{runs}
        </h1>
      </div>
    );
  }
  //   function Players(props) {
  //     console.log(props, "data");
  //     return (
  //       <div>
  //         <h1>
  //           Player: {props.name} , Location: {props.loc},Runs:{props.runs}
  //         </h1>
  //       </div>
  //     );
  //   }
  ReactDOM.render(<App />, document.getElementById("root"));
</script>
