<script src="react.development.js"></script>
<script src="babel.js"></script>
<script src="react-dom.development.js"></script>
<div id="root"></div>

<script type="text/babel">
  class App extends React.Component {
    // constructor() {
    //   super();
    //   console.log(this, "constructor");
    //   this.state = {
    //     count: 10,
    //     heading: "React State"
    //   };
    // }
    state = {
      count: 10,
      heading: "React State"
    };
    onIncCount = () => {
      this.setState({
        count: this.state.count + 1,
        heading: "State"
      });
    };
    render() {
      // this.props.name = "DHONI";
      return (
        <div>
          <h1>{this.state.heading}</h1>
          <button onClick={this.onIncCount}>Inc count</button>
          <h1>{this.state.count}</h1>
          <h2>{this.props.name}</h2>
        </div>
      );
    }
  }

  ReactDOM.render(<App name="SachinMumbai" />, document.getElementById("root"));
</script>
