<script src="react.development.js"></script>
<script src="babel.js"></script>
<script src="react-dom.development.js"></script>
<div id="root"></div>

<script type="text/babel">
  class App extends React.Component {
    constructor() {
      super();
    }
    onSubmit = () => {
      let n1 = this.refs.n1.value;
      let n2 = this.refs.n2.value;
      console.log({n1, n2});
    };
    render() {
      return (
        <div>
          <p>
            <b>N1</b> <input ref="n1" />
          </p>

          <p>
            <b>N2</b>
            <input ref="n2" />
          </p>
          <p>
            <button onClick={this.onSubmit}>Click</button>
          </p>
        </div>
      );
    }
  }

  ReactDOM.render(<App />, document.getElementById("root"));
</script>
